:root {
--gray: #E5E5E5;
--netral_gray:#D1D1D1;
--white: #FFFFFF;
--boder-gray: #adadad;
--button-color: #0050D8;
}

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}

h1{
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 96%;

}

h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

h6{
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.section{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--netral_gray);

}

.section-col{
    margin: 20px;
    align-items: baseline;
    width: 50%;

    
}

label{
    display: flex;
    flex-direction: column;
    
}

input{
    background-color: var(--white);
    padding-left: 10px;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 6px;
    display: block;
    width: 100%;
    border: 2px solid var(--boder-gray);
    box-sizing: border-box;
    padding-right: 10px;


}

.chekin{
    background-image: url(../img/Checkin.png);
    background-repeat: no-repeat;
    background-position: right;

}

.search_glass{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: right;
}

select {
    background-color: var(--white);
    padding-left: 10px;
    line-height: 30px;
    height: 38px;
    border-radius: 5px;
    margin-top: 6px;
    display: block;
    width: 100%;
    border: 2px solid var(--boder-gray);
    box-sizing: border-box;
}

option{
    background-color: var(--white);
    padding-left: 10px;
    line-height: 30px;
    height: 38px;
    border-radius: 5px;
    margin-top: 6px;
    display: block;
    width: 100%;
    border: 2px solid var(--boder-gray);
    box-sizing: border-box;
}


.checkbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 55px;
}

.button_container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.next_button{
    background-color: var(--button-color);
    border-radius: 4px;
    width: 100px;
    height: 54px;
    color: var(--white);
    box-sizing: border-box;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    padding: 15px;
    margin-top: 30px;

}
